{% extends 'base.html' %}{% block content %}
<main>
  <div>
    <h1>My Tasks</h1>

    {% if show_my_tasks.all|length >= 1 %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Is completed</th>
        </tr>
      </thead>
      <tbody>
        {% for task in show_my_tasks.all %}
        <tr>
          <td>{{ task.name }}</td>

          <td>{{ task.start_date }}</td>
          <td>{{ task.due_date}}</td>
          {% if task.is_completed != True %}
          <td>
            <form method="post" action="{% url 'complete_task' task.id %}">
              {% csrf_token %}
              <input type="hidden" name="is_completed" value="True" />

              <button>Complete</button>
            </form>
          </td>
          {% else %}
          <td>Done</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <p>You have no tasks</p>
      {% endif %}
    </table>
  </div>
</main>

{% endblock content%}
